html, body {
    height: 100%;
    font-family: monospace;
  }
  
  body {
    margin: 0;
    display: grid;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }

  .subDiv {
      display: block;
      
  }

  #divSelect {
    float: right;
    margin-top: -35px;
  }